.colors {
  color: hsl(213, 96%, 18%);
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);
  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
  color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.multi__step__form {
  display: flex;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 10px rgba(117, 117, 117, 0.2);
  padding: 1rem;
}

.side__bar {
  border-radius: 0.3rem;
  padding: 1rem;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="274" height="568" fill="none" viewBox="0 0 274 568"><rect width="274" height="568" fill="%23483EFF" rx="10"/><mask id="a" width="274" height="568" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha"><rect width="274" height="568" fill="%23fff" rx="10"/></mask><g mask="url(%23a)"><path fill="%236259FF" fill-rule="evenodd" d="M-34.692 543.101C3.247 632.538 168.767 685.017 211.96 612.52c43.194-72.497-66.099-85.653-104.735-160.569-38.635-74.916-68.657-121.674-124.482-104.607-55.824 17.068-55.375 106.32-17.436 195.757Z" clip-rule="evenodd"/><path fill="%23F9818E" fill-rule="evenodd" d="M233.095 601.153c60.679-28.278 92.839-143.526 41.875-171.528-50.965-28.003-57.397 47.579-108.059 75.987-50.662 28.408-82.14 50.207-69.044 88.241 13.096 38.034 74.549 35.578 135.228 7.3Z" clip-rule="evenodd"/><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="5" d="m165.305 469.097 10.607-10.806M209.461 474.581l-12.506-10.503M187.56 488.991l-6.908 14.798"/><path fill="%23FFAF7E" d="M.305 546.891c37.003 0 67-29.997 67-67s-29.997-67-67-67-67 29.997-67 67 29.997 67 67 67Z"/></g></svg>');
}

.side__bar--steps {
  /* border: 1px solid purple; */
}

.side__bar--step {
  /* border: 1px solid green; */
  color: #fff;
  margin: 1rem 0;
}

.position-name {
  display: block;
}

.position-circle {
  border-radius: 1rem;
  height: 20px;
  width: 20px;
  text-align: center;
  border: solid 1px #fff;
}

.page__navigation__container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.page__container {
  flex-grow: 1;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
}

.navigation__bar > button {
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.6rem 1.2rem;
  background-color: hsl(213, 96%, 18%);
  border: none;
}

/* h1,
p {
  border: 1px solid green;
}

.page-title {
  border: 1px solid yellow;
} */

form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
  margin: 2rem 0;
}

.navigation__bar {
  /* border: 1px solid blue; */
}

.hide {
  opacity: 0;
}

.active {
  color: #000;
  background-color: #fff;
}
